<<<<<<< HEAD

<h3>Bienvenido a <%= title%></h3>
<p>El portal donde podrá crear sus propios juegos!
 </p>
=======
  <h3>Bienvenido a <%= title %></h3>
  El portal donde podrá crear sus propios juegos!
>>>>>>> 8fcd607a3f2b3e8186177ab9bd28102a6d02b397
