<<<<<<< HEAD

<h2><%= respuesta %></h2>
<p>
<a href="/quizes/question">Intentelo otra vez</a>
</p>
	
=======
  <p>
    <%= respuesta %>
    <a href="/quizes/<%= quiz.id %>">Volver</a>
  </p>
  
>>>>>>> 8fcd607a3f2b3e8186177ab9bd28102a6d02b397
